:root {
    --primary-font: "Roboto", sans-serif;
    --title-font: "Roboto", sans-serif;
    --primary-black-color: #212121;
    --primary-white-color: #ffffff;
    --primary-accent-color: #4d5ae5;
    --secondary-accent-color: #404bbf;
    --active-link-color: #f44336;
    --background-color: #2e2f42;
    --text-color: #434455;
    --footer-text-color: #f4f4fd;
    --dept-but-border-color: #e7e9fc;
    --extra-color: #8e8f99;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--primary-white-color);
  }
  
  img {
    display: block;
  }
  h1, h2, h3 {
    margin: 0%;
  }
  p {
    margin: 0%;
  }
  ul {
    padding-left: 0%;
    margin-top: 0%;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  @media screen and (min-width: 768px) {
    .header {
      height: 72px;
    }
  }
  .navigation {
    
  }
  .container {
   width: 320px;
   padding: 0 16px;
   margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    .container {
      display: flex;
      width: 768px;
      flex-wrap: nowrap;
      align-items: center;
    }
  }  
  @media screen and (min-width: 1158px) {
    .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    }
  }
  .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .tabs::after{
    text-decoration: underline;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-accent-color);
  }
  .header-logo.link{
  
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    .header-logo.link {
      margin-right: 120px;
    }
  } 
  .header-logo.header-span {
    margin-right: 76px;
  }
  .link {
    text-decoration: none;
  }
  .header-span {
    color: var(--background-color);
  }
  .list {
    list-style: none;
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .js-open-menu{

  }
  .js-menu-container{

  }
  .js-close-menu{

  }
  .menu-container{
    .menu-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 32px;
      background-color: #3f51b5;
      z-index: 999;
      transform: translateX(100%);
      transition: transform 250ms ease-in-out;
    }
  }
  @media screen and (min-width: 768px){
    .menu-container{
      visibility: hidden;
    }
  }
  @media screen and (min-width: 1158px){
    .menu-container{
      visibility: hidden;
    }
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  .pages-list {
    display: none;
    align-items: flex-start; 
    gap: 40px;
  }
  @media screen and (min-width: 768px){
    .pages-list{
      display: inline-flex;
  align-items: flex-start;
  gap: 40px;
    }
  }
  @media screen and (min-width: 1158px){
    .pages-list{
      display: inline-flex;
  align-items: flex-start;
  gap: 40px;
    }
  }
  .menu {
    display: flex;
  }
  .pages {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
  
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }  
  .current{}
  @media screen and (min-width: 768px){
    .current{
      color: #404bbf;
    }  
    .current::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 4px;
    background-color: #404bbf;
      border-radius: 2px;
      width: 100%;
    }  
  }
  @media screen and (min-width: 1158px){
    .current{
      color: #404bbf;
    }  
    .current::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 4px;
    background-color: #404bbf;
      border-radius: 2px;
      width: 100%;
    }  
  }
  .current{
    color: #404bbf;
  }  
  .current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
  background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
  }  
  .link {
    text-decoration: none;
  }
  .link:hover {
    color: #404bbf;
  }
  .link:focus {
    color: #404bbf;
  }
  .address-list {
    align-items: flex-start;
    display: none;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px){
    .address-list{
      align-items: flex-start;
  display: block;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @media screen and (min-width: 1158px){
    .address-list{
      align-items: flex-start;
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .address {
    font-style: normal;
    margin-left: auto;
  }
  @media screen and (min-width: 768px){
    .address{
      margin-right: 16px;
      margin-left: 121px;
    }
  }
  @media screen and (min-width: 1158px){
    .address{
    }
  }
  .address-container{
    display: none;
  }
  @media screen and (min-width: 768px){
    .address-container{
      display: flex;
    }
  }
  @media screen and (min-width: 1158px){
    .address-container{
    }
  }
  .list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contacts {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: inline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1158px){
    .contacts{
      font-size: 16px;
    }
  }
  .link {
    text-decoration: none;
  }
  .link:hover {
    color: #404bbf;
  }
  .link:focus {
    color: #404bbf;
  }
  /* MAIN PAGE */
  /* hero section */
  
  
  .section {
    max-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@1x.jpg), linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@2x.jpg), linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgimg@3x.jpg);
  }
  @media screen and (min-width: 768px){
    .section{
      padding: 112px 0;
      max-width: 768px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab@1x.jpg), linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab@2x.jpg), linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgimg@3x.jpg);
    }
  }
  @media screen and (min-width: 1158px){
    .section{
      max-width: 1440px;
      padding: 188px 0;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-web@1x.jpg), linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-web@2x.jpg), linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgimg@3x.jpg);
    }
  }
  @media screen and (min-width: 768px){
    .section-one{
      display: flex;
      flex-direction: column;
    }
  } 
  .main-title{
    max-width: 320px;
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white, #fff);
  }
  @media screen and (min-width: 768px){
    .main-title{
      max-width: 496px;
      margin: 0 auto 36px;
      font-size: 56px;
      line-height: 1.07;
    }
  }
  @media screen and (min-width: 1158px){
    .main-title{
      margin: 0 auto 48px;
    }
  }
  .button{
  background-color: var(--primary-accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  align-items: flex-start;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button:hover {
    background-color: #404bbf;
  }
  .button:focus {
    background-color: #404bbf;
  }

  /* values section */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .values-section{
    padding: 96px 0;
  }
  @media screen and (min-width: 768px){
    .values-section{
      
    }
  }
  @media screen and (min-width: 1158px){
    .values-section{
     
    }
  }
  .icon-item{
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1158px){
    .icon-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      width: 264px;
      background-color: #f4f4fd;
      border-radius: 4px;
      }
  }
  .values-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  @media screen and (min-width: 768px){
    .values-list {
      min-width: 736px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
    }
  }
  @media screen and (min-width: 1158px){
    .values-list {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .value-box{
    width: calc((100%-24px)/2);
  }
  @media screen and (min-width: 768px){
    .value-box{
      display: flex;
      width: 356px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
  @media screen and (min-width: 1158px){
    .value-box{
      width: calc((100% - 72px) / 4);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
  .values{
    font-weight: 700;
    font-size: 36px;
    color: var(--background-color);
    font-style: normal;
    line-height: 40px;
    letter-spacing: 0.72px;
    margin-bottom: 8px;
    text-align: center;
  }
  @media screen and (min-width: 768px){
    .values{
      font-size: 36px;
      line-height: 40px;
    }
  }
  @media screen and (min-width: 1158px){
    .values{
      align-self: start;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--text-color);
    width: 100%;
    font-style: normal;
    font-weight: 500;
    text-align: start;
  }
  /* our activity section */
  .our-activity{
    display: none;
  }
  @media screen and (min-width: 1158px){
    .our-activity{
      display: flex;
      margin-bottom: 120px;
    }
    .activity {
      margin: 0%;
      margin-bottom: 72px;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.72px;
      text-transform: capitalize;
    }
    .activity-list {
      display: flex;
      gap: 24px;
    }
    .activity-box {
      gap: 24px;
    }
    .title {
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--background-color);
      margin-bottom: 72px;
      margin-left: 416px;
    }
    .list {
      list-style: none;
      padding-left: 0%;
      margin-top: 0%;
      margin-bottom: 0%;
    }
  }
  /* our team section */
  .our-team{
    background-color: var(--footer-text-color);
    padding-top: 120px;
    padding-bottom: 120px;
    flex-shrink: 0;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px){
    .our-team{
    
    }
  }
  @media screen and (min-width: 1158px){
    .our-team{
      width: 1158px;
    }
  }
  .team-title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--background-color);
    margin-bottom: 72px;
    font-weight: 700;
    text-align: center;
  }
  @media screen and (min-width: 768px){
    .team-title{
      color: var(--navyblue, #2E2F42);
      text-align: center;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.72px;
      text-transform: capitalize;
      margin-left: 316px;
    }
  }
  @media screen and (min-width: 1158px){
    .team-title{
      color: var(--navyblue, #2E2F42);
      text-align: center;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.72px;
      text-transform: capitalize;
      margin-left: 498px;
    }
  }
  .team-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px 24px;  
  }
  @media screen and (min-width: 768px){
    .team-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }
  }
  @media screen and (min-width: 1158px){
    .team-list {
      display: flex;
      gap: 24px;
      flex-wrap: nowrap;
      justify-content: flex-start;
   }
  }
  .team{
    display: flex;
    width: 264px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  @media screen and (min-width: 768px){
    .team {
      display: flex;
      padding-bottom: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      border-radius: 0px 0px 4px 4px;
      background: var(--white, #FFF);
      box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
     }
  }
  @media screen and (min-width: 1158px){
    .team {
      display: flex;
      padding-bottom: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      border-radius: 0px 0px 4px 4px;
      background: var(--white, #FFF);
      box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
     }
     .team-section{
      width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-wrap: wrap;
     }
  }
  .team-image {
    width: 264px;
    height: 260px;
    background-image: url("/images/img4-1.jpg"), url("/images/img5-1.jpg"), url("/images/img6-1.jpg"), url("/images/img7-1.jpg") ;
  }
  @media (min-resolution: 192dpi) {
    .box {
      background-image: url("/images/img-1@2x.jpg"), url("/images/img-2@2x.jpg"), url("/images/img-3@2x.jpg"), url("/images/img-4@2x.jpg"), ;
    }
  }
  .team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    padding: 32px 0;
  }
  .name{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);
    text-align: center;
    margin-bottom: 8px;
  }
  .position{
    font-size: 16px;
    line-height: 1.5;
    line-height: 24px
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .social-icon-list{
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .sm-icon{
    fill: var(--footer-text-color);
    width: 40px;
    height: 40px;
  }
  .sm-icon-link{
    width: 100%;
    height: 100%;
    background-color: var(--primary-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .sm-icon-link:hover{
    background-color: #404bbf;
  }  
  .sm-icon-link:focus{
    background-color: #404bbf;
  }
  /* our portfolio section */
  .overlay{
    display: none;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .overlay:hover{
    transform: translateY(0%);
  }
  .overlay:focus{
    transform: translateY(0%);
  }
  .our-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;

  }
  @media screen and (min-width: 768px){
    .our-portfolio{
    }
  }
  .portfolio-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  @media screen and (min-width: 768px){
    .portfolio-list{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 48px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  @media screen and (min-width: 1158px){
    .portfolio-list{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 48px 24px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  .portfolio-title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--background-color);
    margin-bottom: 72px;
    font-weight: 700;
    text-align: center;
  }
  @media screen and (min-width: 768px){
    .portfolio-title{
      color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-left: 270px;
    }
  }
  @media screen and (min-width: 1158px){
    .portfolio-title{
      color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-left: 498px;
    }
  }
  .portfolio-list-item{
    gap: 32px;
    width: 288px;
  }
  @media screen and (min-width: 1158px){
    .portfolio-list-item{
      width: 360px;
      height: 420px;
    }
  }
  .portfolio-card{
    display: flex;
width: 288px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
border: 1px solid var(--CLOUD, #F4F4FD);
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  } 
  @media screen and (min-width: 768px){
    .portfolio-card{
      width: 356px;
      height: 420px;
    }
  }
  @media screen and (min-width: 1158px){
    .portfolio-card{
      width: 360px;
      height: 420px;
    }
    .portf-section{
      width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-wrap: wrap;
    }
  } 
  .portfolio-img{
    width: 288px;
height: 280px;
  }
  
  @media screen and (min-width: 1158px){
    .portfolio-img{
      width: 360px;
      height: 300px;
    }
  }
  .portf-card-text{
   padding: 32px 16px 32px 16px;
  }
  .portf-card-title{
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
margin-bottom: 8px;
  }
  .portf-card-discription{
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }


  /* footer */
  .footer{
    background-color: var(--background-color);
    padding: 100px 0;
    flex-shrink: 0;
    margin-top: 96px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px){
    .footer {
     }
  }
  @media screen and (min-width: 1158px){
    .footer {
      margin: 0;
      display: flex;
      align-items: center;
    
     }
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px){
    .footer-container {
      display: flex;
      flex-direction: row;
      gap: 72px 0px;
      flex-wrap: wrap;
      width: 596px;
     }
  }
  @media screen and (min-width: 1158px){
    .footer-container {
      display: flex;
      flex-direction: row;
      gap: 72px 0px;
      flex-wrap: wrap;
      width: 1158px;
     }
  }
  @media screen and (min-width: 1158px){
    .footer-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
     }
  }
  .sm-container{
    
    align-self: center;
    margin-bottom: 72px;
    
  }
  @media screen and (min-width: 768px){
    .sm-container {
      align-self: center;
      margin-right: 24px;
     }
  }
  @media screen and (min-width: 1158px){
    .sm-container {
      width: 264px;
height: 112px;
margin-left: 0;
margin-right: 35px;
     }
  }
  .footer-logo{
    display: flex;
    height: 24px;
    align-items: center;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    justify-content: center;
  }
  @media screen and (min-width: 768px){
    .footer-logo {
      display: flex;
      height: 24px;
      align-items: center;
      font-size: 18px;
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-accent-color);
      justify-content: flex-start;
     }
  }
  @media screen and (min-width: 1158px){
    .footer-logo {
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-accent-color);
      align-items: center;
      display: inline-block;
     }
  }
  .link {
    text-decoration: none;
  }
  .span {
    color: var(--footer-text-color);
  }
  .footer-text{
    line-height: 1.5;
    color: var(--footer-text-color);
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    max-width: 264px;
    text-align: justify;
    justify-content: center;
    margin-top: 16px;
  }
  @media screen and (min-width: 768px){
    .footer-text {
      line-height: 1.5;
      color: var(--footer-text-color);
      letter-spacing: 0.02em;
      font-size: 16px;
      font-weight: 400;
      max-width: 264px;
      margin-bottom: 72px;
      text-align: justify;
      justify-content: center;
     }
  }
  @media screen and (min-width: 1158px){
    .footer-text {
      line-height: 1.5;
      color: var(--footer-text-color);
      letter-spacing: 0.02em;
      max-width: 264px;
     }
  }
  .sm-list-footer{
    
  }
  @media screen and (min-width: 768px){
    .sm-list-footer {
      margin-right: 0;
      margin-left: 0;
     }
  }
  @media screen and (min-width: 1158px){
    .sm-list-footer {
      margin-right: 35px;
      margin-left: 0px;
     }
  }
  .social-media{
    color: var(--white, #FFF);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--primary-white-color);
    margin-bottom: 16px;
    text-align: center;
  }
  @media screen and (min-width: 768px){
    .social-media {
      color: var(--white, #FFF);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.32px;
      color: var(--primary-white-color);
      margin-bottom: 16px;
     }
  }
  @media screen and (min-width: 1158px){
    .social-media {
      color: var(--white, #FFF);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--primary-white-color);
      margin-bottom: 16px;
      margin-left: 0;
     }
  }
  .social-icon-list-footer{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: center;
    margin-bottom: 72px;
  }
  @media screen and (min-width: 768px){
    .social-icon-list-footer {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      align-self: center;
     }
  }
  @media screen and (min-width: 1158px){
    .social-icon-list-footer {
      display: flex;
      gap: 16px;
      margin-left: 0;
     }
  }
  .socials-item{
    width: 40px;
    height: 40px;
  }
  .socials-link{
    width: 100%;
    height: 100%;
    background-color: var(--primary-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socials-link:hover {
    background-color: #31d0aa;
  }
  .socials-link:focus{
    background-color: #31d0aa;
  }
  .social-icon-item{
    fill: var(--footer-text-color);
  }  
  .subscribe-title{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }
  @media screen and (min-width: 768px){
    .subscribe-title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.32px;
      color: #ffffff;
      margin-bottom: 16px;
      text-align: left;
     }
     .footer-label{
      width: 264px;
height: 40px;
     }
  }
  @media screen and (min-width: 1158px){
    .subscribe-title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-left: 0;
     }
     
  }
  .footer-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px){
    .footer-form {
      width: 453px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
      align-items: center;
      justify-content: center;
     }
  }
  @media screen and (min-width: 1158px){
    .footer-form {
      display: flex;
      gap: 24px;
      margin-left: 0;
     }
  }
  .footer-input{
    width: 300px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: #ffffff;
border: 1px solid var(--WHITE, #FFF);
opacity: 0.3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  @media screen and (min-width: 768px){
    .footer-input {
      width: 264px;
      height: 40px;
      border: 1px solid #ffffff;
      background-color: transparent;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      padding-left: 16px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: #ffffff;
     }
  }
  @media screen and (min-width: 1158px){
    .footer-input {
      width: 264px;
      height: 40px;
      border: 1px solid #ffffff;
      background-color: transparent;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      padding-left: 16px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: #ffffff;
     }
  }
  .subscribe-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  
  .send-icon{
    margin-left: 16px;
    fill: #ffffff;
  }
  /*MODAL WINDOW FORM*/
.modal-form-container{
  padding: 72px 24px;
  display: inline-block;
}
.modal-form-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}
.modal-form{
  margin-bottom: 8px;
}
.modal-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--extra-color);
  display: block;
  margin-bottom: 4px;
}
.modal-input-box{
  position: relative;
}
.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
  border-color: #4D5AE5;
}
.modal-input-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: #4D5AE5;
}
.comments-box{
  margin-bottom: 16px;
}
.comment-area{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area:focus{
  border-color: #4D5AE5;
}
.policy:focus{
  border-color: #4D5AE5;
}
.policy{
  margin-bottom: 24px;
}
.policy-label{
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--extra-color);
}
.label-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;  
  margin-right: 8px;
}
.checkbox:focus{
  border-color: #404bbf;
}
.checkbox:checked + .policy-label .label-span{
  background-color: var(--secondary-accent-color);
  border: none;
  fill: var(--footer-text-color);
}
.policy-link{
  color: var(--primary-accent-color);

}
.submit-button{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* MODAL WINDOW */
.modal-window{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  width: 288px;
flex-shrink: 0;
}
@media screen and (min-width: 768px){
  .modal-window-item{
    width: 408px;
height: 584px;
flex-shrink: 0;
   }
}
@media screen and (min-width: 1158px){
  .modal-window-item{
    width: 408px;
height: 584px;
flex-shrink: 0;
  }
  
}
.modal-window-button{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-button:hover{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-window-button:focus{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.close-modal{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Mobile-menu */
.mobile-menu-phone{
  color: var(--IRIS, #4D5AE5);

/* Header 2 */
font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.mobile-menu-socials{
  display: flex;
  margin-bottom: 40px;
  transform: translateY(408%);
  justify-content: space-between;
}
.mobile-menu-address{
  display: flex;
  flex-direction: column;
  
  transform: translateY(100%)
}
.mobile-menu-list-item{
  color: var(--NAVY-BLUE, #2E2F42);

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.mobile-menu-pages{
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu-list-item .pages{
  color: var(--NAVY-BLUE, #2E2F42);

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
} 
.mobile-menu-list-item .pages::after {
  color: #404bbf;
}

@media screen and (min-width: 768px){
  .menu-container {
    display: none;
   }
   .mobile-menu-pages{
    display: none;
  }
}
@media screen and (min-width: 1158px){
  .menu-container {
    display: none;
   }
   .mobile-menu-pages{
    display: none;
  }
  
}
.mobile-menu-close{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}